@import url(assets/fonts/fonts.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Pretendard-Regular', Poppins ;
  max-width: 1425px;
  width: 100%;
  margin: 0 auto;
  background-color: #f7f7f7;
  
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
#root {
 
}
#logo {
  font-family: Lora;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-right: 16px;
  font-weight: 500;
}
.eng {
  font-family: Poppins;
}
header {
  padding: 0 40px;

}
header nav {
  display: flex;
  padding: 16px 24px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin-top: 24px;

}
header .nav-left {
  display: flex;
  
}
header .navbar-nav {
  display: flex;
}
header .navbar-nav > li {
  padding: 0 16px;
  position: relative;
  bottom: -3px;
  font-weight: 700;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.search-input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  font-size: 16px;
  
}

.search-button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  border: 1px solid #333;
  height: 42px;
  margin-left: 8px;
}

.search-button:hover {
  background-color: #fff;
  color: #333;
}
.container {
  padding: 0 40px;
}
/* footer */
footer {
  width: 100%;
  background-color: #f8f8f8;
  padding: 24px 12px;
  border-top: 1px solid #e5e5e5;
  margin-top: 80px;
}

.foot-area {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #888;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}
.main-title {
  font-family: Poppins;
  font-size: 80px;
  white-space: nowrap;
  font-weight: 900;
  text-align: center;
  margin-top: 36px;
  z-index: 2;
}

.main-content-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.main-content-title-wrap .main-content-title {
  font-size: 32px;
}
.main-content-more {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main-content-more:hover {
  background-color: #fff;
  color: #222;
  border: 1px solid #333;
}
.main-content-top {
  padding-bottom: 80px;
}

.main-content-top-wrap {
  display: flex;
  gap: 24px;
  height: 600px; /* 전체 높이 고정 */
}

.main-content-top-left {
  flex: 1;
}

.main-content-top-right {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}

/* 공통 카드 스타일 */
.main-content-top-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.main-content-top-right .main-content-top-item {
  aspect-ratio: 1 / 1;
  
}
.main-content-top-item figure {
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.main-content-top-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.main-content-top-item:hover img {
  transform: scale(1.03);
}

.item-main {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.45), transparent);
  width: 100%;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.main-content-top-left .main-content-top-item .item-main {

  font-size: 32px;
  padding: 24px;
  font-weight: 600;
}

.main-content-top-right .main-content-top-item .item-main {
  font-size: 18px;
  padding: 20px;
  font-weight: 600;
}
/* main page table */
.main-content-bottom-wrap {
  width: 100%;
  padding-bottom: 80px;

}

.main-content-bottom-wrap table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  padding: 24px;
  backdrop-filter: blur(10px);
  overflow-x: auto;
}

.main-content-bottom-wrap thead {
  background-color: #fff;
}
.main-content-bottom-wrap thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.main-content-bottom-wrap thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.main-content-bottom-wrap th,
.main-content-bottom-wrap td {
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.main-content-bottom-wrap th {
  font-weight: 700;
  font-size: 16px;
  color: #222;
}

.main-content-bottom-wrap tbody tr:hover {
  background-color: #f9fafb;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.main-content-bottom-wrap td.content-center {
  text-align: left;
  padding-left: 42px;
}
